body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
    /* display: inline-block; */
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #333;
    color: white;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    position: relative;
  }
  
.closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

label {
    width: 100px;
    display: inline-block;
}